
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;

    margin: 0;
    padding: 0;
    /* background-color: #ebebeb; */
    background: url('../img/hogwartzbg.png') no-repeat 0 -200px;
}

/* global */
.container{
    width: 80%; 
    margin: auto;
    overflow: hidden;
    color: #ffffff;
}
.hagrid{
    background: url('../img/hzbg2.jpg') no-repeat 0 -200px;
    color: antiquewhite;
}

ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    padding-left: 5px;
    padding-right: 5px;
    background: #e8491d;
    color: #ffffff;
    border: none;

}

.dark{
    background: #35424a;
    color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* global part ends*/

/* header*/
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d  3px solid;
}


header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 20px;
}

/* to highlight the Techno in heading and current page in navigation */
header .highlight, header .current a{
    color: #050505;
    font-weight: bold;
}

/* hover effect on navigation links */
header a:hover{
     color: #cccccc;
     font-weight: bold;
}


/* showcase section */ 
#showcase{
   /* background: url('../img/hogwartzbg.png') no-repeat 0 -200px; */
    min-height: 100%;
    text-align: center;
    color: #2b456d;

}

#showcase h1{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}


/* newsLetter section*/
/* #newsLetter {
    background: #35424a;
    color: #ffffff;
    padding: 15px;
} */
/* 
#newsLetter h2{
    float: left;
}

#newsLetter form{
    float: right;
    margin-top: 15px;
   
}

#newsLetter input[type="email"]{
    width: 250px;
    height: 25px;
    padding: 4px;
} */

/* boxes section */

#boxes{
    margin-top: 20px;
}

#boxes .box img{
    width: 90px;
    height: 120px;
}

#boxes .box{
    width: 30%;
    float: left;
    text-align: center;
    padding: 5px;
    margin: 5px;
}


/* sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
}

/*main-col*/
article#main-col{
    float: left;
    width: 65%;
}


/*services*/
ul#services li{
    list-style: none;
    border: #cccccc solid 1px;
    background:#e6e6e6;
    padding: 20px;
    margin-bottom: 5px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
} 


/*footer*/




/* media queries*/

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsLetter h2,
    #newsLetter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        text-align: center;
        float: none;
        width: 100%;
     
    }
    header{
           padding-bottom: 10px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsLetter button{
        display: block;
        width: 100%;
    }

    #newsLetter form input[type="email"]{
        width: 100%;
    }

}